.App {
  /* width: 360px; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-radius: 28px;
  background-color: #302d38;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid #49454F;
}

.appHeader>img {
  margin: 12px 0 9px;
}

.flex-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.section-title {
  color: #E6E1E5;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.25em;
}

span.section-title {
  text-align: left;
  margin-top: 18px;
  display: inline-block;
  width: 100%;
}

.input-container {
  margin: 0 24px;
}

/* Input */
.input-container--input {
  width: 100%;
}

/* Mode Button */
.mode-button {
  box-sizing: border-box;
}

/* Auto layout */
.auto-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  height: 58px;
  border-bottom: 1px solid #49454F;
}

/* Inside auto layout */
.inside-auto-layout {
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.options-container {
  border-bottom: 1px solid #49454F;
  margin: 12px 0;
}

.options-container--option {
  margin: 0 24px 0 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options-container--actions {
  margin: 12px 24px 12px 18px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.output-container {
  flex: 1;
  display: flex;
  text-align: center;
}


span.output-container--output {
  margin: auto 0;
  flex: 1;
  text-align: center;
}