.App {
  /* width: 360px; */
  height: 100vh;
  border-radius: 28px;
  background-color: #302d38;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid #49454F;
}

.appHeader > img {
  margin: 18px 0;
}

.App-link {
  color: #61dafb;
}

h1 {
  color: #E6E1E5;
  font-size: 32px;
  text-align: left;
  font-weight: 400;
}

.inputInput {
  margin: 18px 24px;
}

/* Input */
.inputHeader {
  width: 100%;
  border-bottom: 1px solid #49454F;
}

h1 {
  margin: 18px 24px;
}

.input {
  width: 100%;
}

img {
  border: none;
}

/* Mode Button */
.mode-button {
  box-sizing: border-box;
}

/* Auto layout */
.auto-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  /* width: 360px; */
  height: 58px;
  border-bottom: 1px solid #49454F;
}

/* Inside auto layout */
.inside-auto-layout { 
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.optionsContainer {
  border-bottom: 1px solid #49454F;
}

.optionsWeekend, .optionsHoliday {
  margin: 12px 24px 12px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.optionsActions {
  margin: 12px 24px 12px 18px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.outputContainer {
  display: flex;
}

.outputContainer > h1 {
  margin-bottom: auto;
  flex: 1;
  text-align: center;
}