.App {
  min-width: 360px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  background-color: #302d38;
  text-align: center;
}

.App-header {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 1px solid #49454F;
}

.App-header > img {
  margin: 12px 0 9px;
}

.flex-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.section-title {
  color: #E6E1E5;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.25em;
}

span.section-title {
  text-align: left;
  margin-top: 18px;
  display: inline-block;
  width: 100%;
}

.input-container {
  margin: 0 24px;
}

/* Input */
.input-container--input {
  width: 100%;
}

.input-container--days-input {
  margin-top: 1.25em;
}

.input-container--end-date-input {
  margin-top: 1.25em;
}

/* Mode Button */
.mode-button {
  box-sizing: border-box;
}

/* Auto layout */
.auto-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  height: 58px;
  border-bottom: 1px solid #49454F;
}

/* Inside auto layout */
.inside-auto-layout {
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.options-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #49454F;
  margin-top: 24px;
  gap: 6px;
}

.options-container--option {
  margin: 0 24px 0 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options-container--actions {
  margin: 12px 0 12px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hidden {
  visibility: hidden;
}

.output-container {
  flex: 1;
  display: flex;
  text-align: center;
}


span.output-container--output {
  margin: auto 0;
  flex: 1;
  text-align: center;
}